{% extends 'website/shared/_main_layout.html' %}
{% load static i18n %}
{% block title %}{% translate 'آمپول | پزشکان' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/doctors.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/doctors-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<!-- + Main -->
<main class="main">
    
    <section class="main__header">

        <div class="header__wrapper">

            <p>
                <i class="fa fa-home"></i><a href="/">{% translate 'صفحه نخست' %}</a> / 
                <a href="/doctors">{% translate 'پزشکان' %}</a>
            </p>
            <h1>{% translate 'لیست بهترین متخصصان و پزشکان و مراکز درمانی برتر' %}</h1>

        </div>

    </section>

    <section class="main__body">
        
        <div class="body__wrapper">

            <nav class="body__nav">
                
                <h2>{% translate 'فیلتر اطلاعات پزشکان' %}</h2>

                <form method="GET" novalidate>

                    <div class="wrapper__field">
                        <label for="doctor_name_field">{% translate 'نام پزشک' %}</label>  
                        <input type="text" name="name" id="doctor_name_field" placeholder="{% translate 'نام پزشک را وارد کنید' %}">
                    </div>

                    <!-- <div class="wrapper__field">
                        <label for="doctor_name_field">{% translate 'دسته بندی تخصص' %}</label>
                        <select id="doctor_name_field" name="skill">
                            <option value="ad">dasf</option>
                            <option value="ad">dasf</option>
                            <option value="ad">dasf</option>
                        </select>
                    </div> -->

                    <div class="wrapper__filterbtn">
                        <button type="submit">{% translate 'اعمال فیلتر' %}</button>
                    </div>

                    <div class="wrapper__checkboxes d-none">

                        <div class="wrapper__checkbox">
                            <label class="switch-box">
                                <input type="checkbox" id="checkbox1" name="checkbox1" class="switch-box-input">
                                <span class="switch-box-slider round"></span>
                            </label>
                            <label for="checkbox1">مغز و اعصاب</label>
                        </div>

                        <div class="wrapper__checkbox">
                            <label class="switch-box">
                                <input type="checkbox" id="checkbox1" name="checkbox1" class="switch-box-input">
                                <span class="switch-box-slider round"></span>
                            </label>
                            <label for="checkbox1">مغز و اعصاب</label>
                        </div>

                        <div class="wrapper__checkbox">
                            <label class="switch-box">
                                <input type="checkbox" id="checkbox1" name="checkbox1" class="switch-box-input">
                                <span class="switch-box-slider round"></span>
                            </label>
                            <label for="checkbox1">مغز و اعصاب</label>
                        </div>

                    </div>
                </form>
            </nav>
            
            <section class="body__content">
                

                {% for doctor in doctors %}
                
                <div class="content__item">
                    {% if doctor.user.profile %}<img src="{{ doctor.user.profile.url }}" alt="">{% endif %}
                    <div>
                        <p>{% translate 'پزشـک' %}</p>
                        <p>{{ doctor.user.get_full_name }}</p>
                        <p>{{ doctor.doctordegreemodel_set.first.skill_title }}</p>
                    </div>
                </div>
                {% empty %}
                <p class="alert alert-info">{% translate 'پزشکی با اطلاعات مورد نظر شما پیدا نشد!' %}</p>
                {% endfor %}

            </section>

        </div>
    
    </section>

</main>
<!-- - Main -->

{% endblock %}



















{% comment %}

{% extends 'website/shared/_main_layout.html' %}
{% load static i18n %}
{% block title %}{% translate 'دکترها' %}{% endblock %}


{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area" style="z-index: 12 !important;">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>{% translate 'دکترها' %}</h2>
                    <p>{% translate 'زمین سبز پشت هوای الوده است' %}</p>
                </div>
                <div class="page_link">
                    <a href="{% url 'website:doctors' %}">{% translate 'خانه / دکتر ها' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Team section start =================-->  
{% include 'ampool_website/partials/doctor_cards.html' %}
<!--================ Team section end =================-->  

<!-- ================ Hotline Area Starts ================= -->  
<section class="hotline-area text-center area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{% translate 'اورژانسی' %}</h2>
                <span>09126151651</span>
                <p class="pt-3">{% translate 'ما برای سلامتی شما سرویس 24 ساعته در نظر داریم' %}</p>
            </div>
        </div>
    </div>
</section>
<!-- ================ Hotline Area End ================= --> 

{% endblock %}

{% endcomment %}