
// Pallete
$primary: #dd0c0c;
$dark: #0A0A00;
$secondry: #2d353e;
$gray: #A8BBB0;
$light: #ebe8e0;
$white: #fff;

// Font Sizes
$font-very-small: 8pt;
$font-small: 10pt;
$font-medium: 13pt;
$font-large: 15pt;
$font-xlarge: 25pt;